.form {
  display: flex;

  margin: 0 auto;
  padding: 50px;

  border-top: 2px solid red;
}

.form input {
  padding: 20px;
  background-color: transparent;

  width: min-content;
  font-size: 3rem;

  border: none;
  border-bottom: 3px solid wheat;
}

.form input::placeholder {
  color: wheat;
  font-size: 2.5rem;
  font-family: "Redressed", cursive;
  letter-spacing: 0.4em;
}

.form input:hover::placeholder,
.form input:focus::placeholder {
  color: red;
}
