* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}
img {
  width: 100%;
  object-fit: cover;
}
